:root {
  /* COLORS */
  --dark-brown: #02182a;
  --white: #fff;
  --secondary-accent-color: #fcfae9;
  --grey: #7f7f7f;
  --accent-color: #ded47b;
  --cyan-Blue: #193f47;
  --logo-Blue: #083459;
  --dark-brown: #02182a;
  --black: #090b15;
  --focus-color: #fcfaf2;

  /* FONT-FAMILY */
  --font-family-Poppins: 'Poppins', sans-serif;
  --font-family-Raleway: 'Raleway', sans-serif;

  /* TIMING */
}
