<!-- About Section -->
<section class="about-summary">
  <div class="container">
    <ul class="about-summary-list">
      <li class="about-summary-item">
        <h2 class="intro-title">
          Ми створюємо твій НОВИЙ дім у всіх сенсах цього слова.
        </h2>
        <p class="intro-text">
          Ми не будуємо лише будинки, ми створюємо середовище, де тобі, твоїй
          сім’ї, близьким та рідним буде безпечно, затишно, комфортно і зручно.
        </p>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">15 будинків</h3>
          <p class="stat-desc">
            У процесі реалізації й активній фазі будівництва
          </p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#arch" />
        </svg>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">Сучасні та теплі будинки</h3>
          <p class="stat-desc">Використовуємо новітні технології будівництва</p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
      </li>

      <li class="about-summary-item photo">
        <h3 class="stat-title">400 сімей</h3>
        <p class="stat-desc">Обрали нашу компанію і довірились NDB</p>
      </li>
    </ul>
  </div>
</section>
