<!-- Modal  Uk-->
<div id="feedback-modal" class="modal feedback-modal container">
  <section id="cta" class="cta cta-feedback-modal">
    <div class="container cta-container-feedback">
      <div class="cta-box cta-box-feedback">
        <button class="close-feedback-modal" id="modal-close" type="button">
          <svg class="close-feedback-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="cta-title">
          Бажаєте дізнатися про доступні пропозиції просто зараз?
        </h3>

        <p class="cta-description">
          Залиште нам номер телефону, ми зв’яжемось із вами найближчим часом!
        </p>
        <form class="cta-form" netlify>
          <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Ваше ім’я"
          />
          <input
            type="tel"
            name="phone"
            class="form-input"
            placeholder="Телефон"
          />
          <button type="submit" class="btn btn-submit">
            Замовити дзвінок
            <svg class="btn-call-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#arrow" />
            </svg>
          </button>
        </form>
        <p class="cta-helper">
          *Натискаючи кнопку ви надаєте згоду на обробку персональних даних
        </p>
        <div class="modal-contacts">
          <p class="modal-contacts-description">
            Або зателефонуйте самостійно:
          </p>
          <p class="modal-contacts-tel">+38 (097) 123 12 12 (Київстар)</p>
          <p class="modal-contacts-tel">+38 (066) 123 12 12 (Vodafone)</p>
        </div>
      </div>
    </div>
  </section>
</div>
