<!-- Call to Action Section -->
<section id="cta" class="cta">
  <div class="container">
    <div class="cta-box">
      <h3 class="cta-title">
        Бажаєте дізнатися про доступні пропозиції просто зараз?
      </h3>
      <p class="cta-description">
        Залиште нам номер телефону, ми зв’яжемось із вами найближчим часом!
      </p>
      <form class="cta-form">
        <input type="text" class="form-input" placeholder="Ваше ім’я" />
        <input type="tel" class="form-input" placeholder="Телефон" />
        <button type="submit" class="btn btn-submit">Замовити дзвінок</button>
      </form>
      <p class="cta-helper">
        *Натискаючи кнопку ви надаєте згоду на обробку персональних даних
      </p>
    </div>
    <div class="img-box"></div>
  </div>
</section>
