<!-- Projects Section -->
<section id="projects" class="projects">
  <div class="container">
    <div class="projects-btn-h2-wrapper">
      <h2 class="section-title">Наші проекти</h2>
      <button class="btn btn-more all">
        Переглянути всі
        <svg class="btn-call-svg" width="24" height="24">
          <use href="/img/svg/main_sprite.svg#arrow" />
        </svg>
      </button>
    </div>
    <ul class="projects-grid">
      <li class="project-item">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project"
        />
        <p class="project-title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              будинок <strong>від 900$/ м кв</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площа квартир <strong>від 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 поверхів 6 корпусів</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Детальніше
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project"
        />
        <p class="project-title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              будинок <strong>від 900$/ м кв</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площа квартир <strong>від 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 поверхів 6 корпусів</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Детальніше
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project"
        />
        <p class="project-title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              будинок <strong>від 900$/ м кв</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площа квартир <strong>від 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 поверхів 6 корпусів</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Детальніше
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project"
        />
        <p class="project-title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              будинок <strong>від 900$/ м кв</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площа квартир <strong>від 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 поверхів 6 корпусів</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Детальніше
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project"
        />
        <p class="project-title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              будинок <strong>від 900$/ м кв</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площа квартир <strong>від 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 поверхів 6 корпусів</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Детальніше
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project"
        />
        <p class="project-title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              будинок <strong>від 900$/ м кв</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площа квартир <strong>від 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 поверхів 6 корпусів</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Детальніше
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
