<!-- Values Section -UA-->

<section class="values">
  <div class="container">
    <ul class="values-list">
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#wall" />
        </svg>
        <div class="text-wrapper">
          <h2 class="values-subtitle">Цінність</h2>
          <p class="values-description">Не обіцяємо — виконуємо.</p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
        <div class="text-wrapper">
          <h2 class="values-subtitle">Рішучість</h2>
          <p class="values-description">Не виправдовуємося — вирішуємо.</p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#deal" />
        </svg>
        <div class="text-wrapper">
          <h2 class="values-subtitle">Чесність</h2>
          <p class="values-description">Не виправдовуємося — вирішуємо.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
