/* Styles for Mobile devices */

.services {
  padding: 80px 0;
}
.lang-uk {
}
.container {
}
.section-title {
  margin-bottom: 40px;
}
.services-grid {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
}
.service-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  width: 410px;
  height: 452px;

  padding: 32px;

  border-radius: 32px;
  border: 1px solid var(--Secondary-20, #fae8a6);
  background: var(--Neutral-10, #fff);
}

.service-item:hover {
  border: 1px solid var(--Secondary-10, #fffbea);
  background: #f5efd7;
}

.service-title {
  color: var(--Neutral-90, #111113);

  /* Headline 3 */
  font-family: var(--font-Raleway);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
  letter-spacing: 0.64px;
}
.service-description {
  color: var(--Neutral-90, #111113);

  /* Body 20 Light */
  font-family: var(--font-Inter);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}
.btn {
}
.btn-call {
  width: 100%;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 790px) {
  .service-item {
    width: 794px;
    height: 344px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1380px) {
  .service-item {
    width: 680px;
  }
}
