/* Styles for Mobile devices */
.values {
  margin-top: 100px;
}
.container {
}
.values-list {
  display: flex;
  justify-content: space-between;
}
.values-item {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 446px;
  height: 186px;
  padding: 40px;
  gap: 8px;

  border-radius: 32px;
  background: var(--Neutral-10, #fff);
  box-shadow: 0px 0px 34.5px 0px rgba(0, 0, 0, 0.15);
}
.text-wrapper {
}
.values-svg {
}
.values-subtitle {
  color: var(--Primary-90, #031028);

  /* Headline 3 */
  font-family: Raleway;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px; /* 131.25% */
  letter-spacing: 0.64px;

  margin-bottom: 8px;
}
.values-description {
  color: var(--Neutral-90, #111113);

  /* Body 20 Light */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
  letter-spacing: 0.2px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 790px) {
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1380px) {
}
