<!-- About Section  -English- -->
<section class="about-summary">
  <div class="container">
    <ul class="about-summary-list">
      <li class="about-summary-item">
        <h2 class="intro-title">
          We build your NEW home in every sense of the word.
        </h2>
        <p class="intro-text">
          We don’t just build houses, we create environments where you, your
          family, and loved ones will feel safe, cozy, and comfortable.
        </p>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">15 houses</h3>
          <p class="stat-desc">In progress and actively under construction</p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#arch" />
        </svg>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">Modern and warm houses</h3>
          <p class="stat-desc">We use the latest construction technologies</p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
      </li>

      <li class="about-summary-item photo">
        <h3 class="stat-title">400 families</h3>
        <p class="stat-desc">Have chosen our company and trusted NDB</p>
      </li>
    </ul>
  </div>
</section>
