<!-- Call to Action Section - English -->
<section id="cta" class="cta">
  <div class="container cta-container">
    <div class="cta-box">
      <h3 class="cta-title">Want to hear about available offers right now?</h3>
      <p class="cta-description">
        Leave us your phone number and we’ll get in touch with you shortly!
      </p>
      <form class="cta-form" netlify>
        <input
          type="text"
          name="name"
          class="form-input"
          placeholder="Your name"
        />
        <input
          type="tel"
          name="phone"
          class="form-input"
          placeholder="Phone number"
        />
        <button type="submit" class="btn btn-submit">
          Request a call
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </form>
      <p class="cta-helper">
        *By clicking the button, you consent to the processing of personal data
      </p>
    </div>
    <div class="img-box"></div>
  </div>
</section>
