<!-- Hero Section - English -->
<section id="hero" class="hero">
  <div class="container hero-container">
    <div class="hero-text">
      <h1>
        Modern, responsible, and human-centered construction solutions. A new
        generation of craftsmanship.
      </h1>
      <button class="btn btn-call hero-btn">
        Request a call
        <svg class="btn-call-svg" width="24" height="24">
          <use href="/img/svg/main_sprite.svg#arrow" />
        </svg>
      </button>
    </div>
  </div>
</section>
