<!-- Projects Section - English -->
<section
  id="projects"
  class="projects"
  aria-label="Section showcasing our projects"
>
  <div class="container">
    <div class="projects-btn-h2-wrapper">
      <h2 class="section-title">Our Projects</h2>
      <button class="btn btn-more all" aria-label="View all projects">
        View all
      </button>
    </div>
    <ul class="projects-grid">
      <li class="project-item lang-en" aria-label="Project card">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project image"
        />
        <p class="project-title">Project Name</p>
        <ul class="project-details" aria-label="Project details">
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              house <strong>from $900/m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              apartment area <strong>from 39 m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 floors, 6 buildings</p>
          </li>
        </ul>
        <button class="btn btn-more" aria-label="Learn more about the project">
          Learn more
          <svg class="btn-call-svg" width="24" height="24" aria-hidden="true">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-en" aria-label="Project card">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project image"
        />
        <p class="project-title">Project Name</p>
        <ul class="project-details" aria-label="Project details">
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              house <strong>from $900/m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              apartment area <strong>from 39 m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 floors, 6 buildings</p>
          </li>
        </ul>
        <button class="btn btn-more" aria-label="Learn more about the project">
          Learn more
          <svg class="btn-call-svg" width="24" height="24" aria-hidden="true">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-en" aria-label="Project card">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project image"
        />
        <p class="project-title">Project Name</p>
        <ul class="project-details" aria-label="Project details">
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              house <strong>from $900/m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              apartment area <strong>from 39 m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 floors, 6 buildings</p>
          </li>
        </ul>
        <button class="btn btn-more" aria-label="Learn more about the project">
          Learn more
          <svg class="btn-call-svg" width="24" height="24" aria-hidden="true">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-en" aria-label="Project card">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project image"
        />
        <p class="project-title">Project Name</p>
        <ul class="project-details" aria-label="Project details">
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              house <strong>from $900/m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              apartment area <strong>from 39 m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 floors, 6 buildings</p>
          </li>
        </ul>
        <button class="btn btn-more" aria-label="Learn more about the project">
          Learn more
          <svg class="btn-call-svg" width="24" height="24" aria-hidden="true">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-en" aria-label="Project card">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project image"
        />
        <p class="project-title">Project Name</p>
        <ul class="project-details" aria-label="Project details">
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              house <strong>from $900/m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              apartment area <strong>from 39 m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 floors, 6 buildings</p>
          </li>
        </ul>
        <button class="btn btn-more" aria-label="Learn more about the project">
          Learn more
          <svg class="btn-call-svg" width="24" height="24" aria-hidden="true">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-en" aria-label="Project card">
        <img
          class="project-image"
          src="/img/gesktop/projects.webp"
          srcset="/img/gesktop/projects@2x.webp 2x"
          alt="Project image"
        />
        <p class="project-title">Project Name</p>
        <ul class="project-details" aria-label="Project details">
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              house <strong>from $900/m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              apartment area <strong>from 39 m²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg
              class="project-detail-svg"
              width="24"
              height="24"
              aria-hidden="true"
            >
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 floors, 6 buildings</p>
          </li>
        </ul>
        <button class="btn btn-more" aria-label="Learn more about the project">
          Learn more
          <svg class="btn-call-svg" width="24" height="24" aria-hidden="true">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
