<!-- Values Section - English -->

<section class="values">
  <div class="container">
    <ul class="values-list">
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#wall" />
        </svg>
        <div class="text-wrapper">
          <h3 class="values-subtitle">Commitment</h3>
          <p class="values-description">We don’t promise — we deliver.</p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
        <div class="text-wrapper">
          <h3 class="values-subtitle">Determination</h3>
          <p class="values-description">
            We don’t make excuses — we solve problems.
          </p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#deal" />
        </svg>
        <div class="text-wrapper">
          <h3 class="values-subtitle">Integrity</h3>
          <p class="values-description">
            We don’t hide behind years of history.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
