<!-- About Section  -Czech- -->
<section class="about-summary">
  <div class="container">
    <ul class="about-summary-list">
      <li class="about-summary-item">
        <h2 class="intro-title">
          Vytváříme váš NOVÝ domov ve všech smyslech tohoto slova.
        </h2>
        <p class="intro-text">
          Nestavíme jen domy – tvoříme prostředí, kde se vy, vaše rodina a
          blízcí cítí bezpečně, pohodlně a útulně.
        </p>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">15 domů</h3>
          <p class="stat-desc">Ve fázi realizace nebo aktivní výstavby</p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#arch" />
        </svg>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">Moderní a teplé domy</h3>
          <p class="stat-desc">Využíváme nejnovější stavební technologie</p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
      </li>

      <li class="about-summary-item photo">
        <h3 class="stat-title">400 rodin</h3>
        <p class="stat-desc">Vybrali si naši společnost a důvěřují NDB</p>
      </li>
    </ul>
  </div>
</section>
