<!-- Modal CZ -->
<div id="feedback-modal" class="modal feedback-modal container">
  <section id="cta" class="cta cta-feedback-modal">
    <div class="container cta-container-feedback">
      <div class="cta-box cta-box-feedback">
        <button class="close-feedback-modal" id="modal-close" type="button">
          <svg class="close-feedback-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#close"></use>
          </svg>
        </button>
        <h3 class="cta-title">
          Chcete vědět o dostupných nabídkách právě teď?
        </h3>
        <p class="cta-description">
          Zanechte nám své telefonní číslo a my se vám brzy ozveme!
        </p>
        <form class="cta-form" name="contact" method="POST" data-netlify="true">
          <input
            type="text"
            name="name"
            class="form-input"
            placeholder="Ваше ім’я"
            required
          />
          <input
            type="tel"
            name="phone"
            class="form-input"
            placeholder="Телефон"
            required
          />

          <button type="submit" class="btn btn-submit">
            Замовити дзвінок
            <svg class="btn-call-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#arrow" />
            </svg>
          </button>
        </form>
        <p class="cta-helper">
          *Kliknutím na tlačítko souhlasíte se zpracováním osobních údajů.
        </p>
        <div class="modal-contacts">
          <p class="modal-contacts-description">Nebo nám zavolejte přímo:</p>
          <p class="modal-contacts-tel">+38 (097) 123 12 12 (Kyivstar)</p>
          <p class="modal-contacts-tel">+38 (066) 123 12 12 (Vodafone)</p>
        </div>
      </div>
    </div>
  </section>
</div>
