<!-- Call to Action Section - Czech -->
<section id="cta" class="cta">
  <div class="container cta-container">
    <div class="cta-box">
      <h3 class="cta-title">Chcete znát dostupné nabídky hned teď?</h3>
      <p class="cta-description">
        Nechte nám své telefonní číslo a brzy se vám ozveme!
      </p>
      <form class="cta-form">
        <input type="text" class="form-input" placeholder="Vaše jméno" />
        <input type="tel" class="form-input" placeholder="Telefon" />
        <button type="submit" class="btn btn-submit">
          Zavolejte mi
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </form>
      <p class="cta-helper">
        *Kliknutím na tlačítko souhlasíte se zpracováním osobních údajů
      </p>
    </div>
    <div class="img-box"></div>
  </div>
</section>
