<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content">
      <div class="footer-logo-block">
        <img src="/img/logo.svg" alt="HomeExpress logo" class="footer-logo" />
        <p class="footer-description">
          Moderní, lidský a připravený měnit vše k lepšímu. HomeExpress není jen
          název. Je to přístup.
        </p>
      </div>
      <nav class="footer-nav">
        <ul class="footer-nav-list">
          <li><a href="#projects" class="footer-link">Naše projekty</a></li>
          <li><a href="#services" class="footer-link">Služby</a></li>
          <li><a href="#certificates" class="footer-link">Certifikáty</a></li>
        </ul>
      </nav>
      <div class="lang-dropdown">
        <button class="lang-toggle" id="lang-toggle-footer">
          <img src="/img/language/cz.png" alt="cz" width="24" height="24" />
          <span class="footer-lang-selected">Čeština</span>
          <svg class="footer-arr-down-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow-down"></use>
          </svg>
        </button>
        <ul class="lang-menu" id="lang-menu-footer">
          <li>
            <a href="/en/index.html"
              ><img src="/img/language/en.png" alt="en" /> English</a
            >
          </li>
          <li>
            <a href="/uk/index.html"
              ><img src="/img/language/uk.png" alt="ua" /> Ukrajinština</a
            >
          </li>
          <li>
            <a href="/ru/index.html"
              ><img src="/img/language/ru.png" alt="ru" /> Ruština</a
            >
          </li>
        </ul>
      </div>
      <div class="footer-actions">
        <button class="btn btn-call btn-footer">
          Zavolat
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </div>
    </div>
    <p class="footer-copy">2025 © HomeExpress. Všechna práva vyhrazena</p>
  </div>
</footer>
