<!-- Header - Czech -->
<header>
  <div class="container">
    <nav class="nav">
      <div class="logo">
        <img class="logo-img" src="/img/svg/logo.svg" alt="HomeExpress logo" />
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#projects" class="nav-link">Naše projekty</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="nav-link">Služby</a>
        </li>
        <li class="nav-item">
          <a href="#certificates" class="nav-link">Certifikáty</a>
        </li>
      </ul>
      <div class="header-actions">
        <button class="btn btn-call">
          Zavolejte mi
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
        <div class="lang-dropdown">
          <button class="lang-toggle" id="lang-toggle">
            <img src="/img/language/cz.png" alt="cz" />
            <span class="lang-selected">Čeština</span>
            <svg class="arr-down-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <ul class="lang-menu" id="lang-menu">
            <li>
              <a href="/uk/index.html"
                ><img src="/img/language/uk.png" alt="ua" /> Українська</a
              >
            </li>
            <li>
              <a href="/en/index.html"
                ><img src="/img/language/en.png" alt="en" /> English</a
              >
            </li>
            <li>
              <a href="/ru/index.html"
                ><img src="/img/language/ru.png" alt="ru" /> Русский</a
              >
            </li>
          </ul>
        </div>
      </div>
      <button class="burger-btn" type="button">
        <svg class="arr-down-svg" width="24" height="24">
          <use href="/img/svg/main_sprite.svg#Burger"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
