<!-- Values Section - Czech -->

<section class="values">
  <div class="container">
    <ul class="values-list">
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#wall" />
        </svg>
        <div class="text-wrapper">
          <h2 class="values-subtitle">Závazek</h2>
          <p class="values-description">Neslibujeme — plníme.</p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
        <div class="text-wrapper">
          <h2 class="values-subtitle">Rozhodnost</h2>
          <p class="values-description">Neomlouváme se — řešíme.</p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#deal" />
        </svg>
        <div class="text-wrapper">
          <h2 class="values-subtitle">Poctivost</h2>
          <p class="values-description">Neschováváme se za roky historie.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
