<!-- About Section  -Russian- -->
<section class="about-summary">
  <div class="container">
    <ul class="about-summary-list">
      <li class="about-summary-item">
        <h2 class="intro-title">
          Мы создаем твой НОВЫЙ дом во всех смыслах этого слова.
        </h2>
        <p class="intro-text">
          Мы строим не просто дома, мы создаем среду, где тебе, твоей семье и
          близким будет безопасно, уютно и удобно.
        </p>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">15 домов</h3>
          <p class="stat-desc">
            В процессе реализации и активной стадии строительства
          </p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#arch" />
        </svg>
      </li>

      <li class="about-summary-item blue">
        <div class="about-text-box">
          <h3 class="stat-title">Современные и теплые дома</h3>
          <p class="stat-desc">Используем новейшие технологии строительства</p>
        </div>
        <svg class="about-svg" width="100" height="100">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
      </li>

      <li class="about-summary-item photo">
        <h3 class="stat-title">400 семей</h3>
        <p class="stat-desc">Выбрали нашу компанию и доверились NDB</p>
      </li>
    </ul>
  </div>
</section>
