<!-- Call to Action Section -Russian-->
<section id="cta" class="cta">
  <div class="container cta-container">
    <div class="cta-box">
      <h3 class="cta-title">
        Хотите узнать о доступных предложениях прямо сейчас?
      </h3>
      <p class="cta-description">
        Оставьте нам номер телефона, и мы свяжемся с вами в ближайшее время!
      </p>
      <form
        name="contact-cz"
        method="POST"
        data-netlify="true"
        class="cta-form"
      >
        <input
          type="text"
          name="name"
          class="form-input"
          placeholder="Vaše jméno"
          required
        />
        <input
          type="tel"
          name="phone"
          class="form-input"
          placeholder="Telefon"
          required
        />

        <button type="submit" class="btn btn-submit">
          Zavolejte mi
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow"></use>
          </svg>
        </button>
      </form>

      <p class="cta-helper">
        *Нажимая кнопку, вы даете согласие на обработку персональных данных
      </p>
    </div>
    <div class="img-box"></div>
  </div>
</section>
