<!-- Call to Action Section -Russian-->
<section id="cta" class="cta">
  <div class="container cta-container">
    <div class="cta-box">
      <h3 class="cta-title">
        Хотите узнать о доступных предложениях прямо сейчас?
      </h3>
      <p class="cta-description">
        Оставьте нам номер телефона, и мы свяжемся с вами в ближайшее время!
      </p>
      <form class="cta-form" netlify>
        <input type="text" class="form-input" placeholder="Ваше имя" />
        <input type="tel" class="form-input" placeholder="Телефон" />
        <button type="submit" class="btn btn-submit">
          Заказать звонок
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </form>
      <p class="cta-helper">
        *Нажимая кнопку, вы даете согласие на обработку персональных данных
      </p>
    </div>
    <div class="img-box"></div>
  </div>
</section>
