<!-- Header -Russian-->
<header>
  <div class="container">
    <nav class="nav">
      <div class="logo">ЛОГО</div>
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#projects" class="nav-link">Наши проекты</a>
        </li>
        <li class="nav-item">
          <a href="#services" class="nav-link">Услуги</a>
        </li>
        <li class="nav-item">
          <a href="#certificates" class="nav-link">Сертификаты</a>
        </li>
      </ul>
      <div class="header-actions">
        <button class="btn btn-call">
          Заказать звонок
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>

        <div class="lang-dropdown">
          <button class="lang-toggle" id="lang-toggle">
            <img src="/img/language/ru.png" alt="ru" />
            <span class="lang-selected">Русский</span>
            <svg class="arr-down-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#arrow-down"></use>
            </svg>
          </button>
          <ul class="lang-menu" id="lang-menu">
            <li>
              <a href="/uk/index.html"
                ><img src="/img/language/uk.png" alt="ua" /> Українська</a
              >
            </li>
            <li>
              <a href="/en/index.html"
                ><img src="/img/language/en.png" alt="en" /> English</a
              >
            </li>
            <li>
              <a href="/cz/index.html"
                ><img src="/img/language/cz.png" alt="cz" /> Čeština</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
