<!-- Hero Section -Russian -->
<section id="hero" class="hero">
  <div class="container hero-container">
    <div class="hero-background"></div>
    <div class="hero-text">
      <h1>
        Современные, ответственные и человечные строительные решения. Новое
        поколение ремесла.
      </h1>
      <button class="btn btn-call hero-btn">
        Заказать звонок
        <svg class="btn-call-svg" width="24" height="24">
          <use href="/img/svg/main_sprite.svg#arrow" />
        </svg>
      </button>
    </div>
  </div>
</section>
