<!-- Projects Section -Russian-->

<section id="projects" class="projects">
  <div class="container">
    <div class="projects-btn-h2-wrapper">
      <h2 class="section-title">Наши проекты</h2>
      <button class="btn btn-more">Подробнее</button>
    </div>
    <ul class="projects-grid">
      <li class="project-item lang-ru">
        <img
          class="project-image"
          src="/img/gesktop/projects.jpg"
          srcset="/img/gesktop/projects@2x.jpg 2x"
          alt="Проект"
        />
        <p class="project-title">Название проекта</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              дом <strong>от 900$/м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площадь квартир <strong>от 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 этажей, 6 корпусов</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Подробнее
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-ru">
        <img
          class="project-image"
          src="/img/gesktop/projects.jpg"
          srcset="/img/gesktop/projects@2x.jpg 2x"
          alt="Проект"
        />
        <p class="project-title">Название проекта</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              дом <strong>от 900$/м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площадь квартир <strong>от 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 этажей, 6 корпусов</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Подробнее
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-ru">
        <img
          class="project-image"
          src="/img/gesktop/projects.jpg"
          srcset="/img/gesktop/projects@2x.jpg 2x"
          alt="Проект"
        />
        <p class="project-title">Название проекта</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              дом <strong>от 900$/м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площадь квартир <strong>от 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 этажей, 6 корпусов</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Подробнее
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-ru">
        <img
          class="project-image"
          src="/img/gesktop/projects.jpg"
          srcset="/img/gesktop/projects@2x.jpg 2x"
          alt="Проект"
        />
        <p class="project-title">Название проекта</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              дом <strong>от 900$/м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площадь квартир <strong>от 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 этажей, 6 корпусов</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Подробнее
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-ru">
        <img
          class="project-image"
          src="/img/gesktop/projects.jpg"
          srcset="/img/gesktop/projects@2x.jpg 2x"
          alt="Проект"
        />
        <p class="project-title">Название проекта</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              дом <strong>от 900$/м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площадь квартир <strong>от 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 этажей, 6 корпусов</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Подробнее
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
      <li class="project-item lang-ru">
        <img
          class="project-image"
          src="/img/gesktop/projects.jpg"
          srcset="/img/gesktop/projects@2x.jpg 2x"
          alt="Проект"
        />
        <p class="project-title">Название проекта</p>
        <ul class="project-details">
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#money"></use>
            </svg>
            <p class="project-detail-description">
              дом <strong>от 900$/м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#square"></use>
            </svg>
            <p class="project-detail-description">
              площадь квартир <strong>от 39 м²</strong>
            </p>
          </li>
          <li class="project-detail-item">
            <svg class="project-detail-svg" width="24" height="24">
              <use href="/img/svg/main_sprite.svg#floors"></use>
            </svg>
            <p class="project-detail-description">10 этажей, 6 корпусов</p>
          </li>
        </ul>
        <button class="btn btn-more">
          Подробнее
          <svg class="btn-call-svg" width="24" height="24">
            <use href="/img/svg/main_sprite.svg#arrow" />
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
