<!-- Values Section -Russian-->

<section class="values">
  <div class="container">
    <ul class="values-list">
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#wall" />
        </svg>
        <div class="text-wrapper">
          <h3 class="values-subtitle">Приверженность</h3>
          <p class="values-description">Не обещаем — выполняем.</p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#plan" />
        </svg>
        <div class="text-wrapper">
          <h3 class="values-subtitle">Решительность</h3>
          <p class="values-description">Не оправдываемся — решаем.</p>
        </div>
      </li>
      <li class="values-item">
        <svg class="values-svg" width="60" height="60">
          <use href="/img/svg/values_sprite.svg#deal" />
        </svg>
        <div class="text-wrapper">
          <h3 class="values-subtitle">Честность</h3>
          <p class="values-description">Не прячемся за годами истории.</p>
        </div>
      </li>
    </ul>
  </div>
</section>
