<!-- Header -->
<header>
  <nav class="nav">
    <div class="logo">LOGO</div>
    <ul class="nav-list">
      <li class="nav-item">
        <a href="#projects" class="nav-link" data-i18n="nav.projects"
          >Наші проекти</a
        >
      </li>
      <li class="nav-item">
        <a href="#services" class="nav-link" data-i18n="nav.services"
          >Послуги</a
        >
      </li>
      <li class="nav-item">
        <a href="#certificates" class="nav-link" data-i18n="nav.certificates"
          >Сертифікати</a
        >
      </li>
    </ul>

    <div class="header-actions">
      <button class="btn btn-call" data-i18n="btn.call">
        Замовити дзвінок
      </button>

      <!-- Language Switcher -->
      <div class="lang-dropdown">
        <button class="lang-toggle" id="lang-toggle">
          <img src="/img/flags/ua.svg" alt="ua" />
          <span class="lang-selected" data-i18n="lang.ua">Українська</span>
          <span class="lang-arrow">▼</span>
        </button>

        <ul class="lang-menu" id="lang-menu">
          <li class="lang-option" data-lang="ua">
            <img src="/img/flags/ua.svg" alt="ua" />
            <span data-i18n="lang.ua">Українська</span>
          </li>
          <li class="lang-option" data-lang="en">
            <img src="/img/flags/en.svg" alt="en" />
            <span data-i18n="lang.en">English</span>
          </li>
          <li class="lang-option" data-lang="cz">
            <img src="/img/flags/cz.svg" alt="cz" />
            <span data-i18n="lang.cz">čeština</span>
          </li>
          <li class="lang-option" data-lang="ru">
            <img src="/img/flags/ru.svg" alt="ru" />
            <span data-i18n="lang.ru">Русский</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
