<!-- Projects Section -->
<section id="projects" class="projects">
  <div class="container">
    <div class="projects-btn-h2-wrapper">
      <h2 class="section-title" data-i18n="section.projects">Наші проекти</h2>
      <button class="btn btn-more" data-i18n="btn.details">Детальніше</button>
    </div>
    <ul class="projects-grid">
      <li class="project-item">
        <img src="project1.jpg" alt="Project" class="project-image" />
        <p class="project-title" data-i18n="project.title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail" data-i18n="project.size">
            Будинок на 100 м²
          </li>
          <li class="project-detail" data-i18n="project.area">
            Площа забудови 120 м²
          </li>
          <li class="project-detail" data-i18n="project.structure">
            1 поверх + горище
          </li>
        </ul>
        <button class="btn btn-more" data-i18n="btn.details">Детальніше</button>
      </li>
      <li class="project-item">
        <img src="project1.jpg" alt="Project" class="project-image" />
        <p class="project-title" data-i18n="project.title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail" data-i18n="project.size">
            Будинок на 100 м²
          </li>
          <li class="project-detail" data-i18n="project.area">
            Площа забудови 120 м²
          </li>
          <li class="project-detail" data-i18n="project.structure">
            1 поверх + горище
          </li>
        </ul>
        <button class="btn btn-more" data-i18n="btn.details">Детальніше</button>
      </li>
      <li class="project-item">
        <img src="project1.jpg" alt="Project" class="project-image" />
        <p class="project-title" data-i18n="project.title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail" data-i18n="project.size">
            Будинок на 100 м²
          </li>
          <li class="project-detail" data-i18n="project.area">
            Площа забудови 120 м²
          </li>
          <li class="project-detail" data-i18n="project.structure">
            1 поверх + горище
          </li>
        </ul>
        <button class="btn btn-more" data-i18n="btn.details">Детальніше</button>
      </li>
      <li class="project-item">
        <img src="project1.jpg" alt="Project" class="project-image" />
        <p class="project-title" data-i18n="project.title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail" data-i18n="project.size">
            Будинок на 100 м²
          </li>
          <li class="project-detail" data-i18n="project.area">
            Площа забудови 120 м²
          </li>
          <li class="project-detail" data-i18n="project.structure">
            1 поверх + горище
          </li>
        </ul>
        <button class="btn btn-more" data-i18n="btn.details">Детальніше</button>
      </li>
      <li class="project-item">
        <img src="project1.jpg" alt="Project" class="project-image" />
        <p class="project-title" data-i18n="project.title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail" data-i18n="project.size">
            Будинок на 100 м²
          </li>
          <li class="project-detail" data-i18n="project.area">
            Площа забудови 120 м²
          </li>
          <li class="project-detail" data-i18n="project.structure">
            1 поверх + горище
          </li>
        </ul>
        <button class="btn btn-more" data-i18n="btn.details">Детальніше</button>
      </li>
      <li class="project-item">
        <img src="project1.jpg" alt="Project" class="project-image" />
        <p class="project-title" data-i18n="project.title">Назва проєкту</p>
        <ul class="project-details">
          <li class="project-detail" data-i18n="project.size">
            Будинок на 100 м²
          </li>
          <li class="project-detail" data-i18n="project.area">
            Площа забудови 120 м²
          </li>
          <li class="project-detail" data-i18n="project.structure">
            1 поверх + горище
          </li>
        </ul>
        <button class="btn btn-more" data-i18n="btn.details">Детальніше</button>
      </li>
    </ul>
  </div>
</section>
